[Unit]
Description=Redis persistent key-value database Rspamd
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis-rspamd.conf --daemonize no
ExecStop=/usr/libexec/redis-shutdown redis-rspamd
User=redis
Group=mail

[Install]
WantedBy=multi-user.target
